body {
    background-color: rgb(25, 25, 25);
}

header h1 {
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    text-align: center;
    background-color: rgb(63, 63, 63);
    margin-top: 0px;
    border-radius: 16px;
}

main {
    background-color: rgb(63, 63, 63);
}

ul {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    padding-right: 1100px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    background-color: rgb(119, 119, 119);
}

footer {
    background-color: rgb(63, 63, 63);
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 200px;
    margin-left: -4px;
    margin-right: -4px;
}
